<body class="bg-gradient-primary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 col-lg-12 col-xl-10">
        <div class="card shadow-lg o-hidden border-0 my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-6 d-none d-lg-flex">
                <div class="flex-grow-1 bg-password-image" style="background-image: url('assets/img/gifs/forgot.gif');">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h4 class="text-dark mb-2">¿Olvidaste tu contraseña?</h4>
                    <p class="mb-4">¡Nosotros la tenemos, cosas que pasan. Tan solo introduce tu dirección de correo y
                      nosotros te enviaremos un enlace para recuperar tu contraseña!</p>
                  </div>
                  <form class="user">
                    <div class="mb-3">
                      <input class="form-control form-control-user" type="email" id="inputEmail"
                        aria-describedby="emailHelp" placeholder="Introduce tu dirección de correo..." name="email">
                    </div>
                    <button class="btn btn-primary d-block btn-user w-100" type="submit">Restablecer contraseña</button>
                  </form>
                  <div class="text-center">
                    <hr><a class="small" [routerLink]="['/register']" routerLinkActive="active">¡Crear una cuenta!</a>
                  </div>
                  <div class="text-center">
                    <a class="small" [routerLink]="['/login']" routerLinkActive="active">¿Ya dispones de una cuenta?
                      ¡Inicia sesión!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
