<body id="page-top">
  <div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
      <app-sidebar></app-sidebar>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        <app-up-menu></app-up-menu>
        <div class="container-fluid">
          <h3 class="text-dark mb-4">Perfil</h3>
          <div class="row mb-3">
            <div class="col-lg-4">
              <div class="card mb-3">
                <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4"
                    src="assets/img/avatars/avatar1.jpeg" width="160" height="160">
                  <div class="mb-3"><button class="btn btn-primary btn-sm" type="button">Cambiar foto</button></div>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="row">
                <div class="col">
                  <div class="card shadow mb-3">
                    <div class="card-header py-3">
                      <p class="text-primary m-0 fw-bold">Configuración de usuario</p>
                    </div>
                    <div class="card-body">
                      <form>
                        <div class="row">
                          <div class="col">
                            <div class="mb-3">
                              <label class="form-label" for="username">
                                <strong>Usuario</strong>
                              </label>
                              <input class="form-control disabled" type="text" id="username" placeholder="username"
                                name="username" [(ngModel)]="username">
                            </div>
                          </div>
                          <div class="col">
                            <div class="mb-3">
                              <label class="form-label" for="email">
                                <strong>Email</strong>
                                <br>
                              </label>
                              <input class="form-control" type="email" id="email" placeholder="user@example.com"
                                name="email" [(ngModel)]="email">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="mb-3">
                              <label class="form-label" for="username">
                                <strong>Contraseña</strong>
                              </label>
                              <input class="form-control disabled" type="password" id="password"
                                placeholder="Introduzca su nueva contraseña" name="password" [(ngModel)]="password">
                            </div>
                          </div>
                          <div class="col">
                            <div class="mb-3">
                              <label class="form-label" for="username">
                                <strong>Contraseña</strong>
                              </label>
                              <input class="form-control disabled" type="password" id="password"
                                placeholder="Repita su contraseña" name="password" [(ngModel)]="repeatPassword">
                            </div>
                          </div>
                        </div>
                        <!-- <div class="row">
                          <div class="col">
                            <div class="mb-3"><label class="form-label"
                                for="first_name"><strong>Nombre</strong><br></label><input class="form-control"
                                type="text" id="first_name" placeholder="John" name="first_name"></div>
                          </div>
                          <div class="col">
                            <div class="mb-3"><label class="form-label"
                                for="last_name"><strong>Apellidos</strong></label><input class="form-control"
                                type="text" id="last_name" placeholder="Doe" name="last_name"></div>
                          </div>
                        </div> -->
                        <div class="mb-3">
                          <button class="btn btn-primary btn-sm" type="button" (click)="guardarCambios()">Guardar
                            Cambios</button>
                          <div class="my-3" *ngIf="errorMsg !== ''">
                            <span class="text-danger">{{errorMsg}}</span>
                          </div>
                          <div class="my-3" *ngIf="successMsg !== ''">
                            <span class="text-success">{{successMsg}}</span>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="bg-white sticky-footer">
        <div class="container my-auto">
          <div class="text-center my-auto copyright"><span>Copyright © Organised Lifestyle. 2022</span></div>
        </div>
      </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
  </div>
</body>
