<body id="page-top" ng-csp="no-unsafe-eval">
  <div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
      <app-sidebar></app-sidebar>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        <app-up-menu></app-up-menu>
        <div class="container-fluid">
          <div class="d-sm-flex justify-content-between align-items-center mb-4">
            <h3 class="text-dark mb-0">Panel de control</h3>
            <!-- <a class="btn btn-primary btn-sm d-none d-sm-inline-block"
              role="button" href="#"><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generar reporte</a> -->
          </div>
          <div class="row">
            <div class="col-md-6 col-xl-3 mb-4">
              <div class="card shadow border-start-primary py-2">
                <div class="card-body">
                  <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                      <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Calendario</span></div>
                      <div class="text-dark fw-bold h5 mb-0"><span>{{fechaActualString}}</span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
              <div class="card shadow border-start-success py-2">
                <div class="card-body">
                  <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                      <div class="text-uppercase text-success fw-bold text-xs mb-1">
                        <span>Cookie-Points Obtenidos</span>
                      </div>
                      <div class="text-dark fw-bold h5 mb-0">
                        <div *ngIf="userInfo.isSchoolarMember === true; else noPoints">
                          <span *ngIf="schoolarInfo === undefined; else showPoints">0<i
                              class='fas fa-cookie'></i></span>
                          <ng-template #showPoints>
                            <span>{{schoolarInfo.points}}</span>
                          </ng-template>
                        </div>
                        <ng-template #noPoints>
                          <span>Solo escuelas</span>
                        </ng-template>
                      </div>
                    </div>
                    <div class="col-auto"><i class="fas fa-cookie-bite fa-2x text-gray-300"></i></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
              <div class="card shadow border-start-info py-2">
                <div class="card-body">
                  <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                      <div class="text-uppercase text-info fw-bold text-xs mb-1"><span>Tareas</span></div>
                      <div class="row g-0 align-items-center">
                        <div class="col-auto">
                          <div class="text-dark fw-bold h5 mb-0 me-3">
                            <span>{{porcentajeTareasFinalizadas | number: '1.2-2'}}%</span>
                          </div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm">
                            <div class="progress-bar bg-info" id="barra-progreso" aria-valuenow="50" aria-valuemin="0"
                              aria-valuemax="100" style="width: 50%;">
                              <span class="visually-hidden">{{porcentajeTareasFinalizadas | number: '1.2-2'}}%</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
              <div class="card shadow border-start-warning py-2">
                <div class="card-body">
                  <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                      <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Trabajos pendientes</span>
                      </div>
                      <div class="text-dark fw-bold h5 mb-0"><span>{{numTareasPendientes}}</span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Start: Chart -->
          <div class="row">
            <div class="col-lg-12 col-xl-8">
              <!-- <div class="card shadow mb-4" *ngIf="userInfo.isSchoolarMember !== true; else blankAdmin">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <h6 class="text-primary fw-bold m-0">Administración de usuarios</h6>
                  <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle"
                      aria-expanded="false" data-bs-toggle="dropdown" type="button"><i
                        class="fas fa-ellipsis-v text-gray-400"></i></button>
                    <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                      <p class="text-center dropdown-header">Ajustes de ventana:</p>
                      <a class="dropdown-item" href="#">&nbsp;Minimizar</a>
                      <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Vista detallada</a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table px-5">
                      <thead>
                        <tr>
                          <th>Usuario</th>
                          <th>Nombre</th>
                          <th class="text-center">Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>josmar03</td>
                          <td>José María Jiménez</td>
                          <td>
                            <div class="d-flex justify-content-around">
                              <div><i class="fa fa-edit"></i></div>
                              <div><i class="fa fa-remove"></i></div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>anaperper10</td>
                          <td>Ana Pérez Perea</td>
                          <td>
                            <div class="d-flex justify-content-around">
                              <div><i class="fa fa-edit"></i></div>
                              <div><i class="fa fa-remove"></i></div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <ng-template #blankAdmin>

              </ng-template> -->

              <!-- Listado de tareas -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">

                  <div class="d-flex flex-row align-items-center">
                    <h6 class="text-primary fw-bold m-0 ">Lista de tareas</h6>
                    <a href="#" class="btn btn-primary ms-auto" data-bs-toggle="modal"
                      data-bs-target="#exampleModal">Añadir tarea</a>

                    <!-- Modal Añadir tarea-->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">

                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Añadir tarea</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                              (click)="cerrarTarea()"></button>
                          </div>
                          <div class="modal-body">
                            <div>

                              <!-- MODAL DE CREACIÓN DE TAREA -->
                              <div class="mb-3">
                                <label for="nombreTarea" class="form-label">Nombre de la tarea</label>
                                <input type="text" class="form-control" id="nombreTarea" [(ngModel)]="nombreTarea">
                              </div>
                              <div class="mb-3">
                                <label for="descripcionTarea" class="form-label">Descripción tarea (Opcional)</label>
                                <textarea class="form-control" id="descripcionTarea"
                                  [(ngModel)]="descripcionTarea"></textarea>
                              </div>
                              <div class="mb-3">
                                <label for="fechaFin" class="form-label">Fecha fin (Opcional)</label>
                                <input type="date" class="form-control" id="fechaFin" [(ngModel)]="fechaFin">
                              </div>
                              <div class="mb-3">
                                <label for="horaFin" class="form-label">Hora fin (Opcional)</label>
                                <input type="time" class="form-control" id="horaFin" [(ngModel)]="horaFin">
                              </div>
                              <div *ngIf="schoolarInfo !== undefined">
                                <div class="mb-3" *ngIf="schoolarInfo.isTeacher">
                                  <label for="cursoRef" class="form-label">Curso asignado (Opcional)</label>
                                  <input type="text" class="form-control" id="cursoRef" [(ngModel)]="cursoRef">
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                              (click)="cerrarTarea()">Cerrar</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                              (click)="crearTarea()">Guardar tarea</button>
                          </div>

                          <!-- FIN DE MODAL DE CREACIÓN DE TAREA -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="tareas === undefined || tareas.length == 0; else mostrarTareas">
                  <ul class="list-group list-group-flush">
                    <div class="row align-items-center no-gutters">
                      <div class="col my-3 d-flex justify-content-center align-content-center">
                        <h5><strong>No hay tareas</strong></h5>
                      </div>
                    </div>
                  </ul>
                </div>
                <ng-template #mostrarTareas>
                  <div *ngIf="tareas.length > 0;">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item" *ngFor="let tarea of tareas; let i = index">
                        <div class="row align-items-center no-gutters">
                          <div class="col me-2">
                            <h6 class="mb-0">
                              <strong>{{tarea.nombreTarea}}</strong>
                            </h6>
                            <span class="text-xs">{{tarea.fechaFin || "Indefinido"}}</span>
                          </div>
                          <div class="col-auto">
                            <div class="form-check d-flex align-items-center">
                              <input class="form-check-input" type="checkbox" id="formCheck-{{i}}"
                                [checked]="comprobarInformacionTarea(tarea)"
                                (change)="marcarTarea(tarea._id, comprobarInformacionTarea(tarea))">
                              <label class="form-check-label" for="formCheck-1"></label>
                              <a href="#" class="btn btn-outline-success ms-3" (click)="visualizarTarea(tarea._id)"
                                data-bs-toggle="modal" data-bs-target="#visualizeModal">Ver
                                tarea</a>
                              <div *ngIf="tarea.username == userInfo.username">
                                <a href="#" class="btn btn-outline-secondary ms-3" (click)="visualizarTarea(tarea._id)"
                                  data-bs-toggle="modal" data-bs-target="#editableModal">Editar
                                  tarea</a>
                                <a class="btn btn-outline-danger ms-3" (click)="eliminarTarea(tarea._id)">Eliminar
                                  tarea</a>
                              </div>
                              <!-- Modales -->

                              <!-- Modal de visualizacion de tarea -->
                              <div class="modal fade" id="visualizeModal" tabindex="-1"
                                aria-labelledby="visualizeModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="visualizeModalLabel">Ver tarea</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        (click)="cerrarTarea()" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      <div>
                                        <div class="mb-3">
                                          <label for="nombreTarea" class="form-label">Nombre de la tarea</label>
                                          <input type="text" class="form-control" id="nombreTarea"
                                            [(ngModel)]="nombreTarea" disabled="true">
                                        </div>
                                        <div class="mb-3">
                                          <label for="descripcionTarea" class="form-label">Descripción tarea
                                            (Opcional)</label>
                                          <textarea class="form-control" id="descripcionTarea"
                                            [(ngModel)]="descripcionTarea" disabled="true"></textarea>
                                        </div>
                                        <div class="mb-3">
                                          <label for="fechaFin" class="form-label">Fecha fin (Opcional)</label>
                                          <input type="date" class="form-control" id="fechaFin" [(ngModel)]="fechaFin"
                                            disabled="true">
                                        </div>
                                        <div class="mb-3">
                                          <label for="horaFin" class="form-label">Hora fin (Opcional)</label>
                                          <input type="time" class="form-control" id="horaFin" [(ngModel)]="horaFin"
                                            disabled="true">
                                        </div>
                                        <div *ngIf="schoolarInfo !== undefined">
                                          <div class="mb-3" *ngIf="schoolarInfo.isTeacher">
                                            <label for="cursoRef" class="form-label">Curso asignado (Opcional)</label>
                                            <input type="text" class="form-control" id="cursoRef" [(ngModel)]="cursoRef"
                                              disabled="true">
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                        (click)="cerrarTarea()">Cerrar</button>
                                    </div>

                                  </div>
                                </div>
                              </div>
                              <!-- Fin modal de visualización -->

                              <!-- Inicio modal de edicion -->

                              <div class="modal fade" id="editableModal" tabindex="-1"
                                aria-labelledby="editableModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="editableModalLabel">Editar tarea</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                        (click)="cerrarTarea()"></button>
                                    </div>
                                    <div class="modal-body">
                                      <div>
                                        <div class="mb-3">
                                          <label for="nombreTarea" class="form-label">Nombre de la tarea</label>
                                          <input type="text" class="form-control" id="nombreTarea"
                                            [(ngModel)]="nombreTarea">
                                          <label class="text-danger" *ngIf="nombreTarea === ''">El nombre de la tarea es
                                            requerido</label>
                                        </div>
                                        <div class="mb-3">
                                          <label for="descripcionTarea" class="form-label">Descripción tarea
                                            (Opcional)</label>
                                          <textarea class="form-control" id="descripcionTarea"
                                            [(ngModel)]="descripcionTarea"></textarea>
                                        </div>
                                        <div class="mb-3">
                                          <label for="fechaFin" class="form-label">Fecha fin (Opcional)</label>
                                          <input type="date" class="form-control" id="fechaFin" [(ngModel)]="fechaFin">
                                        </div>
                                        <div class="mb-3">
                                          <label for="horaFin" class="form-label">Hora fin (Opcional)</label>
                                          <input type="time" class="form-control" id="horaFin" [(ngModel)]="horaFin">
                                        </div>
                                        <div *ngIf="schoolarInfo !== undefined">
                                          <div class="mb-3" *ngIf="schoolarInfo.isTeacher">
                                            <label for="cursoRef" class="form-label">Curso asignado (Opcional)</label>
                                            <input type="text" class="form-control" id="cursoRef"
                                              [(ngModel)]="cursoRef">
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                        (click)="cerrarTarea()">Cerrar</button>
                                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                        (click)="editarTarea(tarea._id)">Editar tarea</button>
                                    </div>

                                  </div>
                                </div>
                              </div>

                              <!-- Fin de modal de edicion -->

                              <!-- Fin de Modales -->
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </ng-template>
              </div>

            </div>
            <!-- <div class="col-lg-5 col-xl-4">
              <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <h6 class="text-primary fw-bold m-0">Gráfica de tráfico de tareas</h6>
                  <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle"
                      aria-expanded="false" data-bs-toggle="dropdown" type="button"><i
                        class="fas fa-ellipsis-v text-gray-400"></i></button>
                    <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                      <p class="text-center dropdown-header">Ajustes de ventana:</p>
                      <a class="dropdown-item" href="#">&nbsp;Minimizar</a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="canvas"
                      data-bss-chart='{"type":"doughnut","data":{"labels":["Finalizadas","Pendientes"],"datasets":[{"label":"","backgroundColor":["#1cc88a","#f6c23e"],"borderColor":["#ffffff","#ffffff"],"data":["50","15"]}]},"options":{"maintainAspectRatio":false,"legend":{"display":false,"labels":{"fontStyle":"normal"}},"title":{"fontStyle":"normal"}}}'></canvas>
                  </div>
                  <div class="text-center small mt-4"><span class="me-2"><i
                        class="fas fa-circle text-success"></i>&nbsp;Finalizadas</span><span class="me-2"><i
                        class="fas fa-circle text-warning"></i>Pendientes</span></div>
                </div>
              </div>
            </div> -->
          </div>
          <!-- End: Chart -->
          <div class="row">
            <div class="col-lg-6 mb-4">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="text-primary fw-bold m-0">Materias (% completado)</h6>
                </div>
                <div class="card-body">
                  <h4 class="small fw-bold">Tareas/Examenes suspensos<span class="float-end">20%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-danger" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                      style="width: 20%;"><span class="visually-hidden">20%</span></div>
                  </div>
                  <h4 class="small fw-bold">Tareas/Examenes pendientes de realizar<span class="float-end">40%</span>
                  </h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-warning" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                      style="width: 40%;"><span class="visually-hidden">40%</span></div>
                  </div>
                  <h4 class="small fw-bold">Tareas/Examenes pendientes de calificar<span class="float-end">60%</span>
                  </h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-info" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                      style="width: 60%;"><span class="visually-hidden">60%</span></div>
                  </div>
                  <h4 class="small fw-bold">Tareas/Examenes aprobados<span class="float-end">80%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-success" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                      style="width: 80%;"><span class="visually-hidden">80%</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-lg-6 mb-4">
                  <div class="card textwhite bg-primary text-white shadow">
                    <div class="card-body">
                      <p class="m-0">Primario</p>
                      <p class="text-white-50 small m-0">#4e73df</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card textwhite bg-success text-white shadow">
                    <div class="card-body">
                      <p class="m-0">Exito</p>
                      <p class="text-white-50 small m-0">#1cc88a</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card bg-info text-white shadow">
                    <div class="card-body">
                      <p class="m-0">Info</p>
                      <p class="text-white-50 small m-0">#36b9cc</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card textwhite bg-warning text-white shadow">
                    <div class="card-body">
                      <p class="m-0">Aviso</p>
                      <p class="text-white-50 small m-0">#f6c23e</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card textwhite bg-danger text-white shadow">
                    <div class="card-body">
                      <p class="m-0">Peligro</p>
                      <p class="text-white-50 small m-0">#e74a3b</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card textwhite bg-secondary text-white shadow">
                    <div class="card-body">
                      <p class="m-0">Secundario</p>
                      <p class="text-white-50 small m-0">#858796</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="bg-white sticky-footer">
        <div class="container my-auto">
          <div class="text-center my-auto copyright"><span>Copyright © Organised Lifestyle. 2022</span></div>
        </div>
      </footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="inicio#page-top"><i class="fas fa-angle-up"></i></a>
  </div>
</body>
