<div class="container-fluid d-flex flex-column p-0">
  <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" [routerLink]="['/inicio']"
    routerLinkActive="active" style="height: 15vh; width: 100%;">
    <img src="assets/img/logos/logotipo_organised_lifestyle.png" alt="logo" width="100%" height="100%">
  </a>
  <hr class="sidebar-divider my-0">
  <ul class="navbar-nav text-light pb-5" id="accordionSidebar">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/inicio']" routerLinkActive="active"><i
          class="fas fa-home"></i><span>Inicio</span></a>
    </li>
    <li class="nav-item"></li>
    <li class="nav-item"></li>
  </ul>
</div>
